<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.StudentAI"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StudentAI.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginActivity" android:exported="false" />
        <activity android:name=".ui.HomeActivity" android:exported="false" />
        <activity android:name=".ui.StudentMenuActivity" android:exported="false" />
        <activity android:name=".ui.ChatActivity" android:exported="false" />
        <activity android:name=".ui.QuizSetupActivity" android:exported="false" />
        <activity android:name=".ui.QuizActivity" android:exported="false" />
        <activity android:name=".ui.KinoListActivity" android:exported="false" />
        <activity android:name=".ui.KinoPlayerActivity" android:exported="false" />
        <activity android:name=".ui.SimpleAiToolActivity" android:exported="false" />
        <activity android:name=".ui.CitationActivity" android:exported="false" />
        <activity android:name=".ui.ComingSoonActivity" android:exported="false" />

    </application>
</manifest>
